Repository ruudk/absurd-php-sdk: changes, and which lefthook commands are due for each by the changed paths.
All: composer-validate, composer-normalize, composer-dependency-analyser, format, lint, analyze, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    composer-validate:
      glob: "composer.{json,lock}"
      run: composer validate --strict
    composer-normalize:
      glob: "composer.json"
      run: composer normalize
    composer-dependency-analyser:
      glob: "{src/**/*.php,tests/**/*.php,examples/**/*.php,composer.json,composer.lock}"
      run: ./vendor/bin/composer-dependency-analyser
    format:
      glob: "*.php"
      run: ./vendor/bin/mago fmt --check
    lint:
      glob: "*.php"
      run: ./vendor/bin/mago lint --minimum-fail-level=warning
    analyze:
      glob: "*.php"
      run: ./vendor/bin/mago analyze --minimum-fail-level=warning
    test:
      glob: "*.php"
      run: ./vendor/bin/phpunit

Fix post-install
  composer.json
Due: composer-validate, composer-normalize, composer-dependency-analyser

add optional queue argument to cleanupTasks and cleanupEvents
  src/Absurd.php
Due: format, lint, analyze, test

fix: throw TimeoutError inside fiber so task handlers can catch it
  src/Execution/FiberExecutor.php
Due: composer-dependency-analyser, format, lint, analyze, test

add test case
  tests/Integration/AbsurdTest.php
Due: composer-dependency-analyser, format, lint, analyze, test

mago fmt
  tests/Integration/AbsurdTest.php
Due: composer-dependency-analyser, format, lint, analyze, test

change assertionMethods, remove timeout
  tests/Integration/AbsurdTest.php
Due: composer-dependency-analyser, format, lint, analyze, test

Update tests/Integration/AbsurdTest.php
  tests/Integration/AbsurdTest.php
Due: composer-dependency-analyser, format, lint, analyze, test

fix: throw TimeoutError inside fiber so task handlers can catch it (#2)
  src/Execution/FiberExecutor.php
  tests/Integration/AbsurdTest.php
Due: composer-dependency-analyser, format, lint, analyze, test

fix: options should always use the correct serialization format by using jsonSerialize directly
  src/Task/Spawner.php
  tests/Integration/AbsurdTest.php
Due: composer-dependency-analyser, format, lint, analyze, test

Run mago fmt
  tests/Integration/AbsurdTest.php
Due: composer-dependency-analyser, format, lint, analyze, test

Update src/Task/Spawner.php
  src/Task/Spawner.php
Due: composer-dependency-analyser, format, lint, analyze, test

fix: correct interpretation of should_suspend to prevent claimtimeout
  src/Execution/Runner.php
  tests/Integration/WorkflowTest.php
Due: composer-dependency-analyser, format, lint, analyze, test

fix: options should always use the correct serialization format (#3)
  src/Task/Spawner.php
  tests/Integration/AbsurdTest.php
Due: composer-dependency-analyser, format, lint, analyze, test

fix: correct interpretation of should_suspend to prevent claimtimeout (#6)
  src/Execution/Runner.php
  tests/Integration/WorkflowTest.php
Due: composer-dependency-analyser, format, lint, analyze, test

feat: implement retry_task
  src/Absurd.php
  src/Event/BeforeRetryEvent.php
  src/Task/RetryOptions.php
  src/Task/Spawner.php
  tests/Integration/AbsurdTest.php
Due: composer-dependency-analyser, format, lint, analyze, test

fix assertion message in recreate-test
  tests/Integration/AbsurdTest.php
Due: composer-dependency-analyser, format, lint, analyze, test

feat: implement retry_task (#4)
  src/Absurd.php
  src/Event/BeforeRetryEvent.php
  src/Task/RetryOptions.php
  src/Task/Spawner.php
  tests/Integration/AbsurdTest.php
Due: composer-dependency-analyser, format, lint, analyze, test

fix: use debian trixie slim for glibc required by habitat, bump absurd to 0.3.0
  .github/workflows/ci.yml
  Makefile
  habitat.Dockerfile
Due: none

fix: use debian trixie slim for glibc required by habitat, bump absurd to 0.3.0 (#7)
  .github/workflows/ci.yml
  Makefile
  habitat.Dockerfile
Due: none

add database connection abstraction
  examples/Agent/console
  examples/Ecommerce/console
  src/Absurd.php
  src/Connection/Connection.php
  src/Connection/PdoConnection.php
  src/Exception/QueryException.php
  src/Execution/CheckpointStore.php
  src/Execution/Context.php
  src/Execution/FiberExecutor.php
  src/Execution/Runner.php
  src/Task/Claimer.php
  src/Task/Spawner.php
  src/Worker/Worker.php
  tests/Integration/IntegrationTestCase.php
  tests/Integration/WorkflowTest.php
Due: composer-dependency-analyser, format, lint, analyze, test

keep array|false als return type for fetch, like in PDO and Doctrine
  src/Connection/Connection.php
  src/Connection/PdoConnection.php
Due: composer-dependency-analyser, format, lint, analyze, test

Add database connection abstraction (#9)
  examples/Agent/console
  examples/Ecommerce/console
  src/Absurd.php
  src/Connection/Connection.php
  src/Connection/PdoConnection.php
  src/Exception/QueryException.php
  src/Execution/CheckpointStore.php
  src/Execution/Context.php
  src/Execution/FiberExecutor.php
  src/Execution/Runner.php
  src/Task/Claimer.php
  src/Task/Spawner.php
  src/Worker/Worker.php
  tests/Integration/IntegrationTestCase.php
  tests/Integration/WorkflowTest.php
Due: composer-dependency-analyser, format, lint, analyze, test

Add AbsurdInterface to enable decoration and easier mocking/stubbing in tests
  examples/Agent/AskCommand.php
  examples/Agent/ConsumeCommand.php
  examples/Ecommerce/ConsumeCommand.php
  examples/Ecommerce/FraudCheckTask.php
  examples/Ecommerce/OrderFulfillmentTask.php
  examples/Ecommerce/ProduceCommand.php
  src/Absurd.php
  src/AbsurdInterface.php
  src/Worker/Worker.php
Due: composer-dependency-analyser, format, lint, analyze, test

remove Symfony event dispatcher dependency, and Event base class inheritance
  composer.json
  composer.lock
  src/Event/BeforeRetryEvent.php
  src/Event/BeforeSpawnEvent.php
  src/Event/TaskErrorEvent.php
  src/Event/TaskExecutionEvent.php
Due: composer-validate, composer-normalize, composer-dependency-analyser, format, lint, analyze, test

Make symfony/serializer optional and add a default JsonSerializer
  composer.json
  examples/Ecommerce/ProduceCommand.php
  src/Absurd.php
  src/AbsurdInterface.php
  src/Execution/Context.php
  src/Serialization/JsonSerializer.php
  src/Serialization/SerializerInterface.php
  src/Serialization/SymfonySerializer.php
  src/Task/Claimer.php
  src/Task/Spawner.php
  src/Worker/Worker.php
  tests/Integration/IntegrationTestCase.php
  tests/Integration/SerializerTest.php
Due: composer-validate, composer-normalize, composer-dependency-analyser, format, lint, analyze, test

update composer.lock
  composer.lock
Due: composer-validate, composer-dependency-analyser

revert update to composer
  composer.json
  composer.lock
Due: composer-validate, composer-normalize, composer-dependency-analyser

normalize composer.json
  composer.json
Due: composer-validate, composer-normalize, composer-dependency-analyser

Fix conflicts after rebase
  src/Absurd.php
  tests/Integration/IntegrationTestCase.php
  tests/Integration/SerializerTest.php
Due: composer-dependency-analyser, format, lint, analyze, test

Revert "Add AbsurdInterface to enable decoration and easier mocking/stubbing in tests"
  examples/Agent/AskCommand.php
  examples/Agent/ConsumeCommand.php
  examples/Ecommerce/ConsumeCommand.php
  examples/Ecommerce/FraudCheckTask.php
  examples/Ecommerce/OrderFulfillmentTask.php
  examples/Ecommerce/ProduceCommand.php
  src/Absurd.php
  src/AbsurdInterface.php
  src/Worker/Worker.php
Due: composer-dependency-analyser, format, lint, analyze, test

Silence dev-dependency in prod warning for optional symfony/serializer inegration
  composer-dependency-analyser.php
Due: format, lint, analyze, test

Decoupling from Symfony (#8)
  composer-dependency-analyser.php
  composer.json
  composer.lock
  src/Absurd.php
  src/Event/BeforeRetryEvent.php
  src/Event/BeforeSpawnEvent.php
  src/Event/TaskErrorEvent.php
  src/Event/TaskExecutionEvent.php
  src/Execution/Context.php
  src/Serialization/JsonSerializer.php
  src/Serialization/SerializerInterface.php
  src/Serialization/SymfonySerializer.php
  src/Task/Claimer.php
  src/Task/Spawner.php
  tests/Integration/IntegrationTestCase.php
  tests/Integration/SerializerTest.php
Due: composer-validate, composer-normalize, composer-dependency-analyser, format, lint, analyze, test

Add SIGALRM support to LeaseMonitor
  src/Execution/Executor.php
  src/Execution/Runner.php
  src/Worker/LeaseMonitor.php
Due: composer-dependency-analyser, format, lint, analyze, test

Cleanup and ext-pcntl exclusion in dependency analyser
  composer-dependency-analyser.php
  composer.json
  src/Worker/LeaseMonitor.php
Due: composer-validate, composer-normalize, composer-dependency-analyser, format, lint, analyze, test

Add SIGALRM support to LeaseMonitor (#10)
  composer-dependency-analyser.php
  composer.json
  src/Execution/Executor.php
  src/Execution/Runner.php
  src/Worker/LeaseMonitor.php
Due: composer-validate, composer-normalize, composer-dependency-analyser, format, lint, analyze, test

Add lifecycle events
  src/Absurd.php
  src/Event/TaskCompletedEvent.php
  src/Event/TaskFailedEvent.php
  src/Event/TaskStartedEvent.php
  src/Event/WorkerStartedEvent.php
  src/Event/WorkerStoppedEvent.php
  src/Execution/Executor.php
  src/Worker/Worker.php
  tests/Integration/EventsTest.php
Due: composer-dependency-analyser, format, lint, analyze, test

Add lifecycle events (#11)
  src/Absurd.php
  src/Event/TaskCompletedEvent.php
  src/Event/TaskFailedEvent.php
  src/Event/TaskStartedEvent.php
  src/Event/WorkerStartedEvent.php
  src/Event/WorkerStoppedEvent.php
  src/Execution/Executor.php
  src/Worker/Worker.php
  tests/Integration/EventsTest.php
Due: composer-dependency-analyser, format, lint, analyze, test

Add split step handling
  src/Execution/Command/BeginStep.php
  src/Execution/Command/CompleteStep.php
  src/Execution/FiberExecutor.php
  src/Execution/Runner.php
  src/Execution/StepHandle.php
  src/Task/Context.php
  tests/Integration/WorkflowTest.php
Due: composer-dependency-analyser, format, lint, analyze, test
